@charset "utf-8";

.video-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

a{
    color: inherit;
}

.video-caption{
    display: flex;
    justify-content: center;
    font-style: italic;
}

p{
    display: flex;
    justify-content: center;
}

body{
    background-color:khaki;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.image-container {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption{
    font-weight: bold;
}

.alt-text{
    margin-top: 20px;
}

.alt-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }